#crop-section{
    background:#f0f0f0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.crop-header{
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
}

#staff-section{
    background:#f0f0f0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.staff-header{
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
}

#monitoring-section{
    background:#f0f0f0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.monitoring-log-header{
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
}

#vehicle-section{
    background:#f0f0f0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.vehicle-header{
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
}