:root{
    --background-color:#f0f0f0;
}

#dashboard-section{
    background: var(--background-color);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

#field-section{
    background: var(--background-color);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

#crop-section{
    background:var(--background-color);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

#staff-section{
    background:var(--background-color);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

#monitoring-section{
    background:var(--background-color);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}


#vehicle-section{
    background:var(--background-color);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

#equipment-section{
    background:var(--background-color);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.section-header{
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}


.form-card {
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

.row-bordered {
    overflow: hidden;
}

@media (max-width:780px) {
    .form-card{
        margin-bottom: 20px;
    }
}